/* typography */

body {
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 30px;
}

/* css bootstrap sovrascritto */

.btn-primary {
  border: none;
  background-color: #006aff;
}

.btn-default {
  color: #626262;
  /* border: none; */
  background-color: #fff;
  /* box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); */
}


/* contenitore navbar */
.wrapper {
  /* width: 1200px;  */
  margin: 0 auto;
  width: 85%;
}

/* contenitore logo */
.logo {
  width: 15%;
}

.logo img {
  width: 150px;
}

header {
    line-height: 60px;
}

/* margini navbar */

.block_nav {
  float: left;
}

.block_nav.central {
  width: 40%;
  margin: 0 5%;
}

.block_nav.login {
  width: 35%;
}

 /* stili lista navbars */
nav ul {
  list-style-type: none;
  margin: 3px 0 0 0;
  padding: 0;
  /* attenzione */
  float: right;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  
}

nav ul li:last-child {
  margin-right: 0px
}

nav ul li a {
  color: #3b4c72;
}

nav ul li a:hover {
  text-decoration: none;
  color: #1abc9c;
}

/* clearfix */

.clearfix {
  content: '';
  display: table;
  clear: both;
}

/* hamburger menu */

.hamburger-menu {
  position: relative;
}

.hamburger-menu .fa-bars {
  display: none;
  color: blue;
  position: absolute;
  top: 22px;
  font-size: 20px;
  right: 0;
}

/* media queries nav bar e burger menu */
@media all and (max-width: 992px) {
  .block_nav.central,
  .block_nav.login {
    display: none;
  }
  .hamburger-menu .fa-bars {
    display: block;
  }
}

/* hero section */
#hero-section {
  background: url(../img/bg-home-1-d54581d7.jpg);
  background-size:cover;
  height: 500px;
}

#hero-section .wrapper {
  width: 95%;
  padding: 40px 0;
}

#hero-section .bg-white {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

#hero-section .wrapper-text p {
  color: #bbcbfd;
  font-size: 20px;
}

#hero-section h1 {
  font-size: 44px;
  color: #fff;
}

#hero-section span {
  color: #006aff;
}

#hero-section p {
  color: #fff;
}

/* media queries */

@media all and (max-width: 600px) {
  #hero-section {
    height: 900px;
  }

  #hero-section h1 {
    font-size: 32px;
  }

  #hero-section h2 {
    font-size: 24px;
  }
}
