/* typography */

body {
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 30px;
  font-size: 18px;
}

h2, h3 {
  color: #031c4e;
}

/* css bootstrap sovrascritto */

.btn-primary {
  border: none;
  background-color: #006aff;
}

.btn-default {
  color: #626262;
  /* border: none; */
  background-color: #fff;
  /* box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); */
}


/* contenitore navbar */
.wrapper {
  /* width: 1200px;  */
  margin: 0 auto;
  width: 85%;
}

/* contenitore logo */
.logo {
  width: 15%;
}

.logo img {
  width: 150px;
}

header {
    line-height: 60px;
}

/* margini navbar */

.block_nav {
  float: left;
}

.block_nav.central {
  width: 40%;
  margin: 0 5%;
}

.block_nav.login {
  width: 35%;
}

 /* stili lista navbars */
nav ul {
  list-style-type: none;
  margin: 3px 0 0 0;
  padding: 0;
  /* attenzione */
  float: right;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  
}

nav ul li:last-child {
  margin-right: 0px
}

nav ul li a {
  color: #3b4c72;
}

nav ul li a:hover {
  text-decoration: none;
  color: #2285fd;
}

nav ul li a span {
  color: #006aff;
  border: 1px solid #006aff;
  padding: 5px 7px;
  border-radius: 5px;
}

nav ul li a span:hover {
  background-color: #006aff;
  color: #fff;
}

/* clearfix */

.clearfix {
  content: '';
  display: table;
  clear: both;
}

/* hamburger menu */

.hamburger-menu {
  position: relative;
}

.hamburger-menu .fa-bars {
  display: none;
  color: #2285fd;
  position: absolute;
  top: 22px;
  font-size: 20px;
  right: 0;
}

/* media queries nav bar e burger menu */
@media all and (max-width: 992px) {
  .block_nav.central,
  .block_nav.login {
    display: none;
  }
  .hamburger-menu .fa-bars {
    display: block;
  }
}

/* hero section */
#hero-section {
  background: url(../img/bg-home-1-d54581d7.jpg);
  background-size:cover;
  height: 500px;
}

#hero-section .wrapper {
  width: 95%;
  padding: 40px 0;
}

#hero-section .bg-white {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
}

#hero-section .bg-white img {
  width: 25px;
  height: 25px;
  left: 11%;
  top: 84.9%;
  position: absolute;
}

#hero-section .wrapper-text p {
  color: #bbcbfd;
  font-size: 20px;
}

#hero-section h1 {
  font-size: 44px;
  color: #fff;
}

#hero-section span {
  color: #006aff;
}

#hero-section p {
  color: #fff;
}

.button-container {
  position: relative;
}

/* media queries */

@media all and (max-width: 600px) {
  #hero-section {
    height: 900px;
  }

  #hero-section h1 {
    font-size: 32px;
  }

  #hero-section h2 {
    font-size: 24px;
  }
}

main .wrap {
  width: 85%;
  margin: 0 auto;
}

main .loghi {
  background-color: #f3f3f3;
  padding: 50px;
}

main .loghi h3 {
  text-transform: uppercase;
}

main .loghi p {
  color: #006aff;
  font-size: 16px;
}

main .loghi img {
  width: 150px;
}

main .wrapper-img.fix {
  margin-top: 22px;
}

@media all and (max-width: 767px) {
  main .loghi img {
    width: 100px;
  }
  main .wrapper-img.fix {
    margin: 0;
  }
  main .wrapper-img.fix img:last-child {
    margin-top: 15px;
  }
  main .wrapper-img.fix * {
    padding: 8px 0;
  }
}

@media all and (min-width: 992px) {
  main .wrapper img {
    padding: 0 10px;
  }
  /* main .wrapper-img.fix-1 {
    margin-left: 95px;
  } */
}

/* sezione focus */

main .focus {
  padding: 20px;
}

main .focus p {
  font-size: 20px;
}

main .wrapper-focus {
  width: 95%;
  margin: 0 auto;
}

main .lista ul {
  list-style-type: none;
  border-left: 1px solid #626262;
  padding: 0;
}

main .lista ul li {
  padding: 10px 0 0 10px;
  font-size: 22px;
}

main .lista ul li:first-child {
  padding-top: 0;
}

main .lista ul a {
  color: #626262;
  text-decoration: none;
}

main .main-wrapper {
  margin-top: 50px;
  padding: 10px 50px 0 50px;
}

main .secondary-wrapper {
  margin-top: 20px;
}

@media all and (max-width: 768px) {

  .wrapper-focus .main-wrapper {
    padding: 0;
    margin: 0;
  }
}

/* sezione carousel */

#carousel {
  padding: 20px 0;
  background-color: #f3f5f9;
}

#carousel p {
  color: #586686;
}

#carousel img {
  width: 500px;
  padding-top: 50px;
}

#carousel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#carousel ul li {
  display: inline-block;
}

#carousel .carousel-list li:last-child {
  color: #031c4e;
}

#carousel span {
  color: #031c4e;
}

#carousel .carousel-list i {
  font-size: 36px;
  margin: 0 20px;
}

#carousel .fa-circle {
  color: #006aff;
}
/* MEDIA QUERY NEEDS */
@media all and (max-width: 768px) {
  #carousel img {
    max-width: 250px;
  }
}

/* sezione needs */

#needs {
  padding-bottom: 50px;
}

#needs h2 {
  padding: 30px;
}

/* sezione tabelle customers */

#customers {
  background: linear-gradient(#0046c4, #00229d);
  color: #fff;
  padding: 100px 0;
}

#customers h2 {
  padding: 30px 0;
  text-align: center;
  color: #fff;
}

#customers p {
  font-size: 14px;
  margin: 0;
  line-height: normal;
}

#customers .border {
  border-bottom: 1px solid white;
  padding: 10px;
}

#customers #colonna-sx {
  padding-right: 40px;
}

#customers #colonna-dx {
  padding-left: 40px;
}

#customers a,
#customers i {
  color: #00d5d2;
}

@media all and (max-width: 768px) {

  #customers .col-xs-12,
  #customers .col-md-5 {
    padding: 0;
  }
}

#second-carousel {
  background-color: #f3f5f9;
  padding: 50px 0;
  height: 600px;
  position: relative;
} 

#second-carousel p {
  font-size: 14px;
  line-height: 25px;
  margin-top: 10px;
}

#second-carousel img {
  width: 300px;
}

#second-carousel .box {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

#second-carousel .carousel-icon {
  position: absolute;
  top: 80%;
  left: 48%;
  transform: translate(-50%, -50%);
}

#second-carousel .carousel-icon li {
  display: inline-block;
}

@media all and (max-width: 768px) {
  #second-carousel .box {
    padding: 5px;

  }
  #second-carousel img {
    width: 200px;
  }
  #second-carousel .carousel-icon {
    left: 44.5%;
  }
}

/* section */

#get-started {
  background: linear-gradient(#0046c4, #00229d);
  padding: 100px 0;
}

#get-started h2 {
   color: #fff;
   padding: 20px 0;
}

#get-started a {
  color: #006aff;
  background-color: #fff;
  padding: 13px 10px;
  border-radius: 5px;
}

/* footer */

#footer {
  background-color: #031c4e;
  padding: 100px 0;
  color: #a6adbd;
}

#footer p {
  font-size: 16px;
}

#footer h3 {
  color: #fff;
  font-size: 20px;
}

#footer img {
  padding-bottom: 30px;
}

#footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#footer ul li {
  margin: 10px 0;
}

#footer .social-wrapper li {
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
}

#footer a {
  color: #a6adbd;
}



